<h1>Listing area_base_prices</h1>

<table>
  <tr>
    <th>Area name</th>
    <th>Avg sqft</th>
    <th>Avg lot</th>
    <th>Avg year</th>
    <th>Avg bed</th>
    <th>Avg bath</th>
    <th>Price per sqft</th>
    <th>Price per lot</th>
    <th>Price per year</th>
    <th>Price per bed</th>
    <th>Price per bath</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @area_base_prices.each do |area_base_price| %>
  <tr>
    <td><%= area_base_price.area_name %></td>
    <td><%= area_base_price.avg_sqft %></td>
    <td><%= area_base_price.avg_lot %></td>
    <td><%= area_base_price.avg_year %></td>
    <td><%= area_base_price.avg_bed %></td>
    <td><%= area_base_price.avg_bath %></td>
    <td><%= area_base_price.price_per_sqft %></td>
    <td><%= area_base_price.price_per_lot %></td>
    <td><%= area_base_price.price_per_year %></td>
    <td><%= area_base_price.price_per_bed %></td>
    <td><%= area_base_price.price_per_bath %></td>
    <td><%= link_to 'Show', area_base_price %></td>
    <td><%= link_to 'Edit', edit_area_base_price_path(area_base_price) %></td>
    <td><%= link_to 'Destroy', area_base_price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Area base price', new_area_base_price_path %>
