<p id="notice"><%= notice %></p>

<p>
  <b>Area name:</b>
  <%= @area_base_price.area_name %>
</p>

<p>
  <b>Avg sqft:</b>
  <%= @area_base_price.avg_sqft %>
</p>

<p>
  <b>Avg lot:</b>
  <%= @area_base_price.avg_lot %>
</p>

<p>
  <b>Avg year:</b>
  <%= @area_base_price.avg_year %>
</p>

<p>
  <b>Avg bed:</b>
  <%= @area_base_price.avg_bed %>
</p>

<p>
  <b>Avg bath:</b>
  <%= @area_base_price.avg_bath %>
</p>

<p>
  <b>Price per sqft:</b>
  <%= @area_base_price.price_per_sqft %>
</p>

<p>
  <b>Price per lot:</b>
  <%= @area_base_price.price_per_lot %>
</p>

<p>
  <b>Price per year:</b>
  <%= @area_base_price.price_per_year %>
</p>

<p>
  <b>Price per bed:</b>
  <%= @area_base_price.price_per_bed %>
</p>

<p>
  <b>Price per bath:</b>
  <%= @area_base_price.price_per_bath %>
</p>


<%= link_to 'Edit', edit_area_base_price_path(@area_base_price) %> |
<%= link_to 'Back', area_base_prices_path %>
