<%= form_for @house, :html => {:multipart => true} do |f| %>
 <% if @house.errors.any? %>
    <div id='error_explanation' >
      <h2><% "#{pluralize(@house.errors.count, "error")}"%></h2>
          prohibited this house from being saved:"
          <ul>
            <% @house.errors.full_messages.each do |msg|%>
              <li>
                <%=msg%>
              </li>
          </ul>
          <%end%>          
    </div>
  <%end%>



<div>
    <%= f.fields_for :property do |builder| %>
        <table>
            <tr>
                <td>
                    <%= builder.label :lot_size %>:
                </td>
                <td>
                    <%= builder.text_field :lot_size %>
                </td>
          </tr>
                <tr>
                    <td>
                          Number of rooms:
                    </td>
                    <td>
                          <%= text_field_tag "number of rooms"%>
                    </td>
          </tr>
           <tr>
              <td>
                  Number of bathrooms:
              </td>
              <td>
                  <%= text_field_tag "number of bathrooms"%>
              </td>
          </tr>
          <tr>
              <td>


              </td>

      </table>

      <%= f.file_field :photo	  %>

</div>


      <div class="features">
          
          <h2>Features</h2>
          
          <table>
              <%["Wooden Floor", "Chimeney", "Pool", "Garden"].each do |feature|%>
                <tr>
                    <td><%="#{feature}"%></td>
                    <td><%=check_box_tag feature, :class => "squaredFour" %></td>
                </tr>
              <%end%>     
          </table>
          

          <table>
            <tr>
                <td><%= button_to "Cancel", "#", :class => "g-button blue" %></td>
                <td><%= f.submit "Save", :class => "g-button blue" %></td>
            </tr>
          </table>


      </div>
  
  <%end%>

<%end%>