<% if @house.errors.any? %>
    <div class='alert-error'id='error_explanation' >
      <h2><% "#{pluralize(@house.errors.count, "error")}"%></h2>
      prohibited this house from being saved:"
      <ul>
        <% @house.errors.full_messages.each do |msg|%>
            <li>
              <%=msg%>
            </li>
            </ul>
        <%end%>
        </div>
<%end%>


<div class='well'>
  <h1>house appraisal</h1>
    <%=form_for @house,:method => 'post', url: estimation_results_houses_path do |f|%>
      <%= f.fields_for :property do |builder| %>
        <div class="row-fluid">
          <div class="span6">
            <h2>dwelling size descriptions</h2>
              <%= f.label :dwelling_type %>
              <%= f.select :dwelling_type, House::DWELLING_TYPE %>

              <%= f.label :style%>
              <%= f.select :style, House::STYLE %>

              <%=f.label :square_footage%>
              <%=f.text_field :square_footage%>

              <%= builder.label :lot_size%>
              <%= builder.text_field :lot_size, placeholder:"enter lot size"%>
          </div>
          <div class="span6">
            <h2>bedrooms and bathrooms</h2>
              <%= f.label :bedrooms%>
              <%=f.text_field :bedrooms%>

              <%= f.label :bathrooms%>
              <%=f.text_field :bathrooms%>            
          </div>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <h2>location and year built</h2>
              <%= f.label :living_area%>
              <%=f.select :living_area,
                          @area_options%>

              <%=f.label :year_built%>
              <%=f.select :year_built, (1980..2012).to_a.reverse, selected: 2012%>
          </div>
        </div>
          <%end%>

      <% @feature_options.each do |feature|%>
          <%=label_tag feature.name%>
          <%= check_box_tag "features[]", feature.name%>
      <%end%>





          <div class="row-fluid">
          <div class="span2">
              <%= f.submit "submit", class:"btn btn-primary btn-block"%>
          </div>
        </div>
      <%end%>

</div>