<p id="notice"><%= notice %></p>

<p>
  <b>Lot size:</b>
  <%= @property.lot_size %>
</p>

<p>
  <b>Propertible:</b>
  <%= @property.propertible_id %>
</p>

<p>
  <b>Propertible type:</b>
  <%= @property.propertible_type %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
