<h1>Listing contractor_features</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Feature</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contractor_features.each do |contractor_feature| %>
  <tr>
    <td><%= contractor_feature.company_id %></td>
    <td><%= contractor_feature.feature_id %></td>
    <td><%= link_to 'Show', contractor_feature %></td>
    <td><%= link_to 'Edit', edit_contractor_feature_path(contractor_feature) %></td>
    <td><%= link_to 'Destroy', contractor_feature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contractor feature', new_contractor_feature_path %>
